
<template>
    <SSRFormGen :uiSchema="uiSchema" :data="{}" />
</template>

<script>
import { SSRFormGen } from '@openteamsinc/ssr-form-gen'
import { UISchema, UISchemaNode } from '../utils/ui-schema'

export default {
  props: {
    scrudResourceURL: {
      type: String
    },
    configMapping: {
      type: Object
    },
    uiType: {
      type: String
    },
    nodeRdfType: {
      type: String,
      required: false
    },
    data: {
      type: [ Object, Array, String, Number ],
      required: false
    },
    componentData: {
      type: Object,
      required: false
    },
    optionsBody: {
      type: Object,
      required: false
    },
    postBodyContext: {
      type: Object,
      required: false
    },
    getBodyResponse: {
      type: Object,
      required: false
    },
    getDataResponse: {
      type: Object,
      required: false
    },
    putBodyResponse: {
      type: Object,
      required: false
    },
    putDataResponse: {
      type: Object,
      required: false
    }
  },
  components: {
    'SSRFormGen': SSRFormGen
  },
  data () {
    return {
      uiSchemaObject: new UISchema(),
      uiSchema: {},
      components: [],
      schemaURL: null,
      contextURL: null,
      body: {},
      postBody: {},
      getBody: {},
      putBody: {},
      getData: {},
      putData: {}
    }
  },
  async fetch () {
    // Fetch options to get schema and context URLs then call according method to generate UI
    this.body = this.optionsBody ? this.optionsBody : await this.$cachingClient.options(this.convertToHttps(this.scrudResourceURL), { json: true })

    const requestType = this.body[this.uiType]

    switch (this.uiType) {
      case 'post':
        this.schemaURL = this.getPostSchemaURL(requestType)
        this.contextURL = this.getPostContextURL(requestType)

        this.postBody = this.postBodyContext ? this.postBodyContext : await this.$cachingClient.get(this.convertToHttps(this.contextURL), { json: true })

        return this.generateUIPost()
      case 'get':
        this.schemaURL = this.getSchemaURL(requestType)
        this.contextURL = this.getContextURL(requestType)

        this.getBody = this.getBodyResponse ? this.getBodyResponse : await this.$cachingClient.get(this.convertToHttps(this.contextURL), { json: true })

        this.getData = this.getDataResponse ? this.getDataResponse : await this.$cachingClient.get(this.convertToHttps(this.scrudResourceURL), { json: true })

        return this.generateUIGet()
      case 'put':
        this.schemaURL = this.getPostSchemaURL(requestType)
        this.contextURL = this.getPostContextURL(requestType)

        this.putBody = this.putBodyResponse ? this.putBodyResponse : await this.$cachingClient.get(this.convertToHttps(this.contextURL), { json: true })
        this.putData = this.putDataResponse ? this.putDataResponse : await this.$cachingClient.get(this.convertToHttps(this.scrudResourceURL), { json: true })
        return this.generateUIPut()
      default:
        break
    }
  },
  methods: {
    getPostSchemaURL (data) {
      return data.requestBody.content['application/json'].schema
    },
    getPostContextURL (data) {
      return data.requestBody.content['application/json'].context
    },
    getSchemaURL (data) {
      return data.responses['200'].content['application/json'].schema
    },
    getContextURL (data) {
      return data.responses['200'].content['application/json'].context
    },
    convertToHttps (url) {
      if (url) {
        const to = new URL(url)
        to.protocol = 'https'
        return to.toString()
      }
    },
    generateUIPost () {
      if (this.nodeRdfType) {
        const subType = this.nodeRdfType
        const children = []

        const fieldOptions = this.data
        const superTypeNode = new UISchemaNode(subType, fieldOptions.props, fieldOptions.label)

        superTypeNode.setChildren(children)
        this.uiSchema = superTypeNode
      } else {
        // Key for supertype can possibly be @type or @id
        let typeDefine = this.postBody['@type'] ? this.postBody['@type'] : this.postBody['@id']

        let superType = this.getComponentByRdfType(typeDefine)

        let superFieldOptions = {
          context: this.postBody,
          url: this.scrudResourceURL,
          requestType: this.uiType
        }

        let superTypeNode = new UISchemaNode(superType, superFieldOptions)
        let children = []
        let afterType = false
        let previousType

        Object.keys(this.postBody).forEach(key => {
          // If the keys are after the super type definition
          if (afterType) {
            // Key for rdf type after the supertype can be notated by @id or be the value
            let subTypeDefine = this.postBody[key]['@id'] ? this.postBody[key]['@id'] : this.postBody[key]
            let component = this.getComponentByRdfType(subTypeDefine === 'schema:sameAs' ? previousType : subTypeDefine)

            const label = this.getLabelFromKey(key)

            const props = {
                required: false
            }

            const node = {
              nodeRdfType: component,
              scrudResourceURL: this.scrudResourceURL,
              configMapping: this.configMapping,
              uiType: this.uiType,
              data : {
                label: null,
                as: component,
                props: props
              },
              optionsBody: this.body,
              postBodyContext: this.postBody
            }

            previousType = subTypeDefine === 'schema:sameAs' ? previousType : subTypeDefine

            if (component !== 'String') {
              children.push(node)
            }

          } else {
            afterType = key === '@id' || key === '@type'
          }
        })

        superTypeNode.setChildren(children)

        this.uiSchemaObject.addNode(superTypeNode)
        
        this.uiSchema = this.uiSchemaObject.getUISchema()
      }
    },
    generateUIGet () {
      // Check if component is a leaf node child
      if (this.nodeRdfType) {
        const subType = this.nodeRdfType

        const fieldOptions = {
          ...this.componentData,
          required: false,
          data: this.data
        }
        const superTypeNode = new UISchemaNode(subType, fieldOptions)

        this.uiSchema = superTypeNode

      } else {
        if (this.getBody.content && this.getBody.content['@container']) {
          const superType = this.getComponentByRdfType(this.getBody.content['@container'])

          const superTypeNode = new UISchemaNode(superType)

          const subType = this.getComponentByRdfType(this.getBody.content['openteams:envelopeContents'])

          const href = this.getData.content[0] ? this.getData.content[0].href : false

          if (href) {

            const children = []

            this.getData.content.forEach(dataItem => {
              const cardFieldOptions = {
                nodeRdfType: subType,
                data: dataItem,
                scrudResourceURL: this.scrudResourceURL,
                configMapping: this.configMapping,
                uiType: this.uiType,
                optionsBody: this.body,
                getBodyResponse: this.getBody,
                getDataResponse: this.getData
              }

              children.push(cardFieldOptions)
            })
            superTypeNode.setChildren(children)
          }
          this.uiSchemaObject.addNode(superTypeNode)

          this.uiSchema = this.uiSchemaObject.getUISchema()
          
        } else {
          const superType = this.getComponentByRdfType(this.getBody['@id'])

          const superTypeFieldOptions = {
            data: this.getData
          }

          const superTypeNode = new UISchemaNode(superType, superTypeFieldOptions)

          const children = []
          let afterType = false
          let previousType

          Object.keys(this.getBody).forEach(key => {
            if (afterType) {
              const typeDefine = this.getBody[key]['@id'] ? this.getBody[key]['@id'] : this.getBody[key]
              const component = this.getComponentByRdfType(typeDefine === 'schema:sameAs' ? previousType : typeDefine)

              const label = this.getLabelFromKey(key)

              const fieldOptions = {
                data: this.getData.details.content[key],
                componentData: {
                  label: label,
                },
                nodeRdfType: component,
                scrudResourceURL: this.scrudResourceURL,
                configMapping: this.configMapping,
                uiType: this.uiType,
                optionsBody: this.body,
                getBodyResponse: this.getBody,
                getDataResponse: this.getData
              }

              children.push(fieldOptions)

              previousType = typeDefine === 'schema:sameAs' ? previousType : typeDefine
            } else {
              afterType = key === '@id'
            }
          })

          superTypeNode.setChildren(children)
          this.uiSchemaObject.addNode(superTypeNode)
          this.uiSchema = this.uiSchemaObject.getUISchema()

        }
      }
    },
    generateUIPut () {
      if (this.nodeRdfType) {
        const subType = this.nodeRdfType
        const children = []

        const fieldOptions = this.data
        const superTypeNode = new UISchemaNode(subType, fieldOptions.props, fieldOptions.label)

        superTypeNode.setChildren(children)
        this.uiSchema = superTypeNode
      } else {
        // Key for supertype can possibly be @type or @id
        const typeDefine = this.putBody['@type'] ? this.putBody['@type'] : this.putBody['@id']

        const superType = this.getComponentByRdfType(typeDefine)

        const superFieldOptions = {
          context: this.putBody,
          url: this.scrudResourceURL,
          requestType: this.uiType
        }

        const superTypeNode = new UISchemaNode(superType, superFieldOptions)

        const children = []
        let afterType = false
        let previousType

        Object.keys(this.putBody).forEach(key => {
          // If the keys are after the super type definition
          if (afterType) {
            // Key for rdf type after the supertype can be notated by @id or be the value
            const subTypeDefine = this.putBody[key]['@id'] ? this.putBody[key]['@id'] : this.putBody[key]
            const component = this.getComponentByRdfType(subTypeDefine === 'schema:sameAs' ? previousType : subTypeDefine)

            const label = this.getLabelFromKey(key)

            const props = {
                label: key,
                required: false,
                formData: this.putData.details.content[key]
            };

            const node = {
              nodeRdfType: component,
              scrudResourceURL: this.scrudResourceURL,
              configMapping: this.configMapping,
              uiType: this.uiType,
              data : {
                label: null,
                as: component,
                props: props
              },
              optionsBody: this.body,
              putBodyResponse: this.putBody,
              putDataResponse: this.putData
            }

            previousType = subTypeDefine === 'schema:sameAs' ? previousType : subTypeDefine

            if (component !== 'String') {
              children.push(node)
            }
          } else {
            afterType = key === '@id' || key === '@type'
          }
        })

        superTypeNode.setChildren(children)

        this.uiSchemaObject.addNode(superTypeNode)

        this.uiSchema = this.uiSchemaObject.getUISchema()
      }
    },
    getComponentByRdfType (type) {
      const match = this.configMapping.components[type]

      if (match) {
        switch (this.uiType) {
          case 'post':
            return match.input
          case 'put':
            return match.input
          case 'get':
            return match.render
          default:
            break
        }
      }

      return 'String'
    },
    getLabelFromKey (key) {
      // Convert key to input label by replacing "_,-,@" with " " and convert to title cases
      let label = key.replace(/[^a-zA-Z0-9]/g, " ")

      return this.toSentenceCase(label);
    },
    toSentenceCase (str) {
      if ((str === null) || (str === ''))
           return false;
      else
      str = str.toString();
    
     return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    }
  }
}
</script>

<style lang="scss">
</style>
